
<div class="page-title">
    <div class="_inner w-50">
        <h1>Tekrar Hoşgeldin.</h1>
    </div>
</div>

<div class="section">
    <div class="section-inner _inner">
        <form method="post" action="/login-post" style="width: 450px;" class="d-flex flex-column mx-auto mt-5">
            <% if (locals.success != '') { %>
                <div class="response-area success text-center">
                    <div class="response">
                        <%- success %>
                     </div>
                </div>
            <% } %>
            <input type="email" placeholder="E-Mail adresiniz*" name="email">
            <input type="password" placeholder="Şifreniz*" name="password">
            <div class="d-flex justify-content-between mb-3">
                <small><a href="/password-reset">Şifrenizi mi unuttunuz?</a></small>
                <small><a href="/password-reset">Hesabınız yok mu? Kayıt olun</a></small>
            </div>
            <button class="btn" type="submit">Giriş Yap</button>
        </form>
    </div>
</div>