
<div class="page-title">
    <div class="_inner w-50">
        <h1>Şifrenizi Sıfırlayın.</h1>
    </div>
</div>

<div class="section">
    <div class="section-inner _inner">
        <form method="post" action="/register-post" style="width: 450px;" class="d-flex flex-column mx-auto mt-5">
            <input type="email" placeholder="Kullanıcı adınız veya E-Mail adresiniz*" name="emailorusername">
            <button class="btn" type="submit">Sıfırlama Bağlantısı Gönder</button>
        </form>
    </div>
</div>