
<div class="page-title">
    <div class="_inner w-50">
        <h1>Kayıt Olun.</h1>
    </div>
</div>

<div class="section">
    <div class="section-inner _inner">
        <form method="post" action="/register-post" style="width: 450px;" class="d-flex flex-column mx-auto mt-5">
            <input placeholder="Adınız*" type="text" name="name">
            <input type="email" placeholder="E-Mail adresiniz*" name="email">
            <input type="password" placeholder="Şifreniz*" name="password">
            <input type="password" placeholder="Şifrenizi onaylayın*" name="password_verify">
            <button class="btn" type="submit">Kayıt Ol</button>
        </form>
    </div>
</div>