<div class="_coming-soon">
    <div class="coming-soon-inner">
        <div class="lights">
            <div class="light-left">
                <img class="lamp" src="/media/lamp.png" alt="lamp.png">
                <img class="lamp-light" src="/media/lamp-light.png" alt="lamp-light.png">
            </div>
            <div class="light-right">
                <img class="lamp" src="/media/lamp.png" alt="lamp.png">
                <img class="lamp-light" src="/media/lamp-light.png" alt="lamp-light.png">
            </div>
        </div>
        <h2 class="z3 text-center">404 <br> Not Found</h2>
    </div>
</div>